body{
    background: #FFFFFF url("../Images/formBackground.jpg") repeat;
    background-size: contain;
}


#mainTable{
	width: 605px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	color: #333333;
	overflow: hidden;
	box-shadow: 0 1px 6px rgba(0,0,0,0.30);
    
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

#inline_grid {
    border-collapse:collapse;
	border-spacing:0;
	font-size:1em;
	margin-bottom:1px;
}

tr.spaceUnder > td{
  padding-bottom: 2em;
  padding-left: 1em;
}

#submitButton {
	color: #FFFFFF !important;
    background: #111111;
	background-size: auto;
	border-style: none;
   	border-width: 1px;
	border-color: #FFFFFF;
	border-radius: 4px;
	display: table;
    margin: 0 auto;
    text-align: center;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	font-weight: bold;
	min-width: 25%;
	padding: 10px 10px;
	text-transform: uppercase;
	box-shadow: 0 1px 6px rgba(0,0,0,0.30);
}


#registrationHeader{
    color: #FFFFFF !important;
    background: #111111;
	background-size: auto;
    border-style: none;
    display: table;
    margin: 0 auto;
    text-align: center;
	font-family: 'Roboto',sans-serif;
	font-size: 30px;
	
	min-width:55%;
    padding: 10px 10px;
	text-transform: uppercase;
}


.wrapper{
    padding-top: 2em;
    padding-bottom: 3em;
}

.question{
    font-weight: bold;
    font-size: 18px;
}

.inputFields{
     text-align: left;
     height: 20px;  
     font-size: 12px;     
  }
    
#subText{
     text-align: center;
     font-size: 18px; 
     font-style: italic; 
     
    display: table;
    margin: 0 auto;
    text-align: center; 
    
     padding-top: 7px;
    padding-bottom: 25px;
}